* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html,
body {
    min-width: 500px;
}
body {
    width: 100%;
    height: 100vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Helvetica eue", Helvetica, Arial, sans-serif;
}
/*导航区*/
.dh {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.8);
    line-height: 70px;
    padding-left: 5em;
    font-size: 18px;
    font-weight: lighter;
    position: fixed;
    top: 0;
    z-index: 100;
}
/*主体*/
.content {
    width: 100%;
    height: 100%;
}
/*画幅一*/
.content1 {
    width: 100%;
    height: 100%;
    background: url(../img/yn.png) no-repeat fixed center / cover;
    overflow: hidden;
}
/*个人板块*/
.person {
    margin: 0 auto;
    padding-top: 90px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
}
/*个人图片*/
.image1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.image1 img {
    width: 300px; /*只设置宽*/
}
/*自我介绍*/
.info {
    color: rgba(255, 255, 255, 0.9);
    margin: 30px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.h1 {
    
    display: inline-block;
    font-size: 40px;
    margin-bottom: 60px;
    overflow: hidden;
    animation: gw1 4s steps(44) 1s both, font 1s steps(44) forwards 7;
}
.h2{
    overflow: hidden;
    display: inline-block;
    animation: gw2 4s steps(44) 8.5s both, font 1s steps(44) 7.5s forwards 6;
}
.h3{
    overflow: hidden;
    display: inline-block;
    animation: gw2 4s steps(44) 15.5s both, font 1s steps(44) 14.5s forwards 6;
}
.h4{
    overflow: hidden;
    display: inline-block;
    animation: gw3 4s steps(44) 22.5s both, font 1s steps(44) 21.5s forwards infinite;
}
.content1 a {
    text-decoration: none;
}
/*锚点一*/
.arrow {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 25px;
    height: 25px;
    border-right: 2px solid rgba(236, 226, 226, 0.9);
    border-bottom: 2px solid rgba(236, 226, 226, 0.9);
    transform: rotate(45deg);
    animation: bounce-inSS 1s ease-in-out infinite;
}
.arrow:hover {
    cursor: pointer;
}
/*画幅二*/
#content2 {
    width: 100%;
    height: 100%;
    background: url(../img/jc.png) no-repeat fixed center / cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
/*介绍*/
.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/*关于我*/
.idc {
    height: 40%;
    width: 100%;
    display: flex;
    border-top: 2px solid rgba(255, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
}
.aboutme1,
.aboutme2,
.aboutme3 {
    flex: 1;
    min-width: 300px;
    padding-left: 5em;
    padding-top: 50px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*控制文字不换行超出省略*/
}

.aboutme1 h1 {
    font-size: 40px;
    color: white;
}
.aboutme1 h3 {
    color: rgb(255, 255, 255);
}
/*锚点二*/
.arrow2 {
    position: absolute;
    bottom: 10%;
    width: 25px;
    height: 25px;
    border-right: 2px solid rgba(236, 226, 226, 0.9);
    border-bottom: 2px solid rgba(236, 226, 226, 0.9);
    transform: rotate(45deg);
    animation: bounce-inSS 1s ease-in-out infinite;
}
/*画幅三*/
#content3 {
    width: 100%;
    height: 100%;
    background: url(../img/5m.png) no-repeat fixed center / cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
/*锚点三*/
.arrow3 {
    position: absolute;
    bottom: 10%;
    width: 25px;
    height: 25px;
    border-right: 2px solid rgba(236, 226, 226, 0.9);
    border-bottom: 2px solid rgba(236, 226, 226, 0.9);
    transform: rotate(45deg);
    animation: bounce-inSS 1s ease-in-out infinite;
}
/*结尾板块*/
#bottom {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bottom h1,
#bottom p {
    text-align: center;
}
.lxfs {
    width: 100%;
    flex: 6;
    background-color: #e64b65;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 60px;
}
.bq {
    width: 100%;
    flex: 4;
    background-color: #262732;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    line-height: 40px;
}
.bq span {
    display: inline-block;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #e9ecec88;
}
/*动画区*/
@keyframes bounce-inSS {
    0% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(20px) rotate(45deg);
    }
    100% {
        transform: translateY(0px) rotate(45deg);
    }
}
@keyframes font {
    from {
        border-right: 2px solid rgba(255, 255, 255, 0.9);
    }
    to {
        border-right: 2px solid transparent;
    }
}
@keyframes gw1 {
    from {
        width: 0px;
    }
    to {
        width: 600px;
    }
}
@keyframes gw2 {
    from {
        width: 0px;
    }
    to {
        width: 495px;
    }
}
@keyframes gw3 {
    from {
        width: 0px;
    }
    to {
        width: 375px;
    }
}
